.welcome-to-our {
  align-self: stretch;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-us-and {
  margin: 0;
}
.join-us-and-container1 {
  line-break: anywhere;
}
.join-us-and-container,
.welcome-to-our-community-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.join-us-and-container {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
}
.welcome-to-our-community-parent {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-21xl);
  justify-content: center;
  background-image: url(./public/frame-36@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.log-in {
  font-size: var(--font-size-13xl);
  font-weight: 800;
  z-index: 0;
}
.log-in,
.username {
  position: relative;
}
.input-username-icon {
  position: relative;
  border-radius: var(--br-10xs);
  width: 345px;
  height: 35px;
  overflow: hidden;
  flex-shrink: 0;
}
.username-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xs);
  z-index: 1;
}
.password {
  position: relative;
  color: var(--color-black);
}
.frame-child122 {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.instance-parent,
.password-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.instance-parent {
  gap: var(--gap-5xs);
}
.password-parent {
  width: 345px;
  flex-wrap: wrap;
  gap: 35px;
  z-index: 2;
  color: var(--color-gray-300);
}
.frame-child123 {
  position: absolute;
  width: calc(100% - 151.5px);
  top: 0;
  right: 151.5px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 40px;
}
.log-in1 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 17.5px);
}
.vector-parent1 {
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--color-mediumspringgreen);
  width: 345px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 3;
}
.frame-child124 {
  position: relative;
  border-top: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 157px;
  height: 1px;
}
.or {
  position: relative;
  font-weight: 300;
}
.line-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xs);
  z-index: 4;
}
.button {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  width: 345px;
  height: 40px;
  z-index: 0;
}
.continue-with-google {
  position: relative;
  z-index: 1;
}
.vector-icon7 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 9.5px);
  left: 13px;
  width: 20px;
  height: 20px;
  z-index: 2;
}
.google {
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 345px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
  font-size: var(--font-size-sm);
}
.vector-icon8 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 11.5px);
  left: 13px;
  width: 24px;
  height: 24px;
  z-index: 2;
}
.facebook {
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 345px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 6;
  font-size: var(--font-size-sm);
}
.vector-icon9 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 11.5px);
  left: 13px;
  width: 18.97px;
  height: 23.29px;
  z-index: 2;
}
.apple {
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 345px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 7;
  font-size: var(--font-size-sm);
}
.become-a-member {
  font-weight: 500;
}
.join-moodpix {
  color: var(--color-mediumseagreen);
}
.become-a-member-container {
  position: relative;
  font-size: var(--font-size-sm);
  cursor: pointer;
  z-index: 8;
}
.by-joining-moodpix {
  position: absolute;
  top: 0;
  left: calc(50% - 172.5px);
  display: flex;
  align-items: center;
  width: 345px;
}
.by-joining-moodpix-i-confirm-wrapper {
  position: relative;
  width: 345px;
  height: 36px;
  z-index: 9;
  text-align: justify;
  font-family: var(--font-poppins);
}
.vector-icon10 {
  position: absolute;
  margin: 0 !important;
  top: 9.12px;
  left: 415.12px;
  width: 15.76px;
  height: 15.76px;
  cursor: pointer;
  z-index: 10;
}
.login-form,
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  gap: 17px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.login-page {
  position: absolute;
  top: calc(50% - 306px);
  left: calc(50% - 440px);
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  width: 880px;
  height: 612px;
  flex-direction: row;
}
.desktop-4 {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
