.frame-child26,
.home5 {
  position: relative;
  flex-shrink: 0;
}
.frame-child26 {
  width: 70px;
  height: 50px;
  overflow: hidden;
}
.home5 {
  display: inline-block;
  width: 43px;
  height: 16px;
}
.frame-parent12 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.home3,
.home4 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.home4 {
  height: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.home3 {
  height: 14.08%;
  top: 15.49%;
  bottom: 70.42%;
  cursor: pointer;
}
.people-you-watch1 {
  position: relative;
  display: inline-block;
  width: 138px;
  height: 16px;
  flex-shrink: 0;
}
.watch8 {
  position: absolute;
  height: 14.08%;
  width: 100%;
  top: 29.58%;
  right: 0;
  bottom: 56.34%;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  cursor: pointer;
}
.daily-creations1 {
  position: relative;
}
.daily2 {
  position: absolute;
  height: 14.08%;
  width: 100%;
  top: 43.66%;
  right: 0;
  bottom: 42.25%;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.topics1 {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 16px;
  flex-shrink: 0;
}
.topic2 {
  position: absolute;
  height: 14.08%;
  width: 100%;
  top: 57.75%;
  right: 0;
  bottom: 28.17%;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  cursor: pointer;
}
.popular5 {
  position: relative;
  display: inline-block;
  width: 57px;
  height: 16px;
  flex-shrink: 0;
}
.popular3 {
  height: 14.08%;
  top: 71.83%;
  bottom: 14.08%;
  background-color: var(--color-whitesmoke-100);
}
.group4,
.list-icon1,
.popular3 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.group4 {
  height: 14.08%;
  top: 85.92%;
  bottom: 0;
  background-color: var(--color-whitesmoke-100);
}
.list-icon1 {
  height: 15.63%;
  top: 0;
  bottom: 84.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sidebar1 {
  position: relative;
  width: 70px;
  height: 355px;
}
.sidebar-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  border-right: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  height: 1109px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.clip-path-group1 {
  position: relative;
  width: 40.31px;
  height: 40.29px;
  object-fit: cover;
}
.logo1,
.moodpix-1-icon1 {
  overflow: hidden;
  flex-shrink: 0;
}
.moodpix-1-icon1 {
  position: relative;
  width: 92px;
  height: 130px;
  margin-left: -27px;
}
.logo1 {
  width: 111px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.header-child1 {
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 1px;
  height: 21px;
}
.image-1-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.vector-icon5 {
  position: absolute;
  height: 59.46%;
  width: 4.31%;
  top: 18.92%;
  right: 93.46%;
  bottom: 21.62%;
  left: 2.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search1 {
  position: absolute;
  top: 8px;
  left: 39px;
  display: inline-block;
  width: 79px;
  height: 20px;
}
.vector-group {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 510px;
  height: 37px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-lg);
  color: var(--color-gainsboro-100);
  font-family: var(--font-roboto);
}
.update-to-plus1 {
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-coral);
}
.frame-child32 {
  position: relative;
  border-radius: var(--br-8xs);
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.icon-ellipses1 {
  position: relative;
  width: 43.09px;
  height: 6.11px;
}
.icon-message-text-11 {
  position: relative;
  width: 24px;
  height: 21.72px;
}
.header1,
.rectangle-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;

}
.rectangle-parent3 {
  flex: 1;
  justify-content: flex-end;
  gap: var(--gap-sm);
}
.header1 {
  position: absolute;
  top: 0;
  left: 70px;
  background-color: var(--color-whitesmoke-100);
  border-bottom: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 1453px;
  height: 55.5px;
  padding: var(--padding-11xs) var(--padding-sm);
  justify-content: flex-start;
  gap: var(--gap-lgi);
  color: var(--color-gray-100);
}
.pic {
  position: absolute;
  top: 85px;
  left: 297px;
  width: 503px;
  height: 503px;
  object-fit: cover;
  margin-left: 100px;
}
.l-icon1,
.l-icon2,
.l-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.l-icon2,
.l-icon3 {
  left: 54px;
}
.l-icon3 {
  left: 108px;
}
.icon-left {
  position: relative;
  width: 132px;
  height: 24px;
}
.icon-ellipses2 {
  position: absolute;
  height: 20.14%;
  width: 8.75%;
  top: 41.67%;
  right: 42.5%;
  bottom: 38.19%;
  left: 48.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sell-deviation-btn {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 90px;
  height: 20px;
}
.sell-deviation-btn:hover{
    background-color: var(--color-black);
}
.sell-deviation-btn span{
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bolder;
}
.sell-deviation-btn span:hover{
    color: white;
}
.sell-deviation {
  position: absolute;
  top: 4px;
  left: 15px;
  display: inline-block;
  width: 66px;
  height: 9px;
}
.group-div {
  position: absolute;
  top: 2px;
  left: 0;
  width: 90px;
  height: 20px;
}
.image-6-icon,
.image-7-icon {
  position: absolute;
  top: 0;
  left: 165px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.image-7-icon {
  left: 216px;
}
.icon-ellipses-parent {
  position: relative;
  width: 240px;
  height: 24px;
}
.groupicon1 {
  position: absolute;
  top: 629px;
  left: 242px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 241px;
  font-size: var(--font-size-4xs);
  margin-left: 102px;
}
.blank-line {
  margin: 0;
}
.favourite,
.text {
  position: absolute;
  top: 0;
  font-weight: 500;
}
.text {
  left: 235px;
  display: inline-block;
  height: 23px;
}
.favourite {
  left: 23px;
}
.favourite-parent,
.image-8-icon {
  position: absolute;
  left: 0;
  height: 16px;
}
.image-8-icon {
  top: 0;
  width: 16px;
  object-fit: cover;
}
.favourite-parent {
  top: 4px;
  width: 93px;
}
.comments-parent,
.text-parent,
.views-parent {
  position: absolute;
  top: 4px;
  left: 112px;
  width: 104px;
  height: 16px;
}
.text-parent,
.views-parent {
  left: 235px;
  width: 89px;
}
.text-parent {
  top: 815px;
  left: 242px;
  width: 324px;
  height: 23px;
  color: var(--color-dimgray-200);
  font-family: var(--font-roboto);
}
.loai1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  width: 75px;
  height: 30px;
}
.loai1:hover{
    background-color: rgba(138, 80, 255, 0.5);
    border: 1px solid rgb(108, 34, 255);
    color: rgb(255, 255, 255);
}
.pixel {
  position: absolute;
  top: 7px;
  left: 22px;
  font-weight: 500;
}
.loai2,
.hop1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 30px;
}
.loai2 {
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  width: 100px;
}
.loai2:hover{
    background-color: rgba(255, 127, 80, 0.5);
    border: 1px solid rgb(255, 93, 34);
    color: rgb(255, 255, 255);
}
.phionix {
  position: absolute;
  top: 7px;
  left: 26px;
  font-weight: 500;
}
.loai3,
.hop2 {
  position: absolute;
  top: 0;
  left: 85px;
  width: 100px;
  height: 30px;
}
.loai3 {
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  width: 59px;
}
.loai3:hover{
    background-color: rgba(54, 255, 141, 0.5);
    border: 1px solid rgb(0, 255, 111);
    color: rgb(255, 255, 255);
}
.art {
  position: absolute;
  top: 7px;
  left: 20px;
  font-weight: 500;
}
.group-container,
.hop3 {
  position: absolute;
  top: 0;
  left: 195px;
  width: 59px;
  height: 30px;
}
.group-container {
  top: 863px;
  left: 242px;
  width: 254px;
  font-size: var(--font-size-smi);
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
.frame-child33,
.image-11-icon {
  position: relative;
  border-radius: var(--br-8xs);
  width: 30px;
  height: 30px;
  object-fit: cover;
  z-index: 0;
}
.image-11-icon {
  border-radius: var(--br-3xs);
  width: 242px;
  height: 93px;
  z-index: 1;
}
.by-subscribing-you,
.level-1-viking {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.level-1-viking {
  font-weight: 900;
  width: 90px;
  height: 13px;
  z-index: 2;
}
.by-subscribing-you {
  font-size: 10px;
  font-weight: 300;
  width: 230px;
  z-index: 3;
}
.frame-child34 {
  position: relative;
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 243px;
  height: 1px;
  z-index: 4;
}
.b5,
.month {
  position: absolute;
  top: 0;
  left: 0;
}
.month {
  top: 5px;
  left: 40px;
  font-size: var(--font-size-2xs);
  font-weight: 600;
  color: #949494;
}
.price {
  position: relative;
  width: 57px;
  height: 18px;
  z-index: 5;
  font-size: 15px;
  margin-left: 100px;
}
.karonizabest {
  position: absolute;
  margin: 0 !important;
  top: 24px;
  left: 53px;
  font-size: var(--font-size-2xs);
  z-index: 6;
}
.group-child1 {
  position: absolute;
  top: 2px;
  left: 0;
  background-color: #ffb35c;
  width: 25px;
  height: 7px;
}
.core {
  position: absolute;
  top: 0;
  left: 4px;
  font-weight: 600;
  display: inline-block;
  width: 18px;
  height: 4px;
}
.rectangle-parent8 {
  position: absolute;
  margin: 0 !important;
  top: 26px;
  left: 130px;
  width: 25px;
  height: 9px;
  z-index: 7;
  font-size: var(--font-size-5xs);
}
.group-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-black);
  width: 71px;
  height: 18px;
}
.subcriber{
  position: absolute;
  top: 3px;
  left: 20px;
  
}
.vip-1-icon {
  top: 2px;
  left: 3px;
  width: 14px;
  height: 14px;
  object-fit: cover;
}
.Subcriber {
  position: absolute;
  margin-top: 120px;
  top: 265px;
  left: 186px;
  width: 71px;
  height: 18px;
  z-index: 8;
  font-size: var(--font-size-4xs);
  color: var(--color-white);
}
.rectangle-parent7 {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 272px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  gap: 37px;
}
.more-by-hoainam04 {
  position: relative;
  font-size: var(--font-size-xs);
}
.image-13-icon {
  position: relative;
  width: 92px;
  height: 92px;
  object-fit: cover;
}
.frame-parent18,
.image-13-parent {
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-13-parent {
  align-self: stretch;
  height: 104px;
  flex-shrink: 0;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.frame-parent18 {
  position: absolute;
  top: 55px;
  left: 1104px;
  height: 707px;
  flex-direction: column;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-2xs);
  font-size: var(--font-size-smi);
  margin-left: 83px;
}
.image-details {
  position: absolute;
  top: 0;
  left: 0;
  color: #696969;
}
.image-size,
.x1024px-21518-kb {
  position: absolute;
  top: 36px;
  left: 0;
  display: inline-block;
  width: 72px;
}
.x1024px-21518-kb {
  left: 138px;
  width: 161px;
}
.group-child3,
.image-details-parent {
  position: absolute;
  top: 925px;
  left: 242px;
  width: 299px;
  height: 53px;
}
.group-child3 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-top: 7px;
}
.boxx {
  position: absolute;
  top: 0;
  left: 48px;
  background-color: var(--color-white);
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  width: 762px;
  height: 60px;
}
.add-a-new {
  position: absolute;
  top: 7px;
  left: 57px;
  font-weight: 300;
}
.rectangle-parent10 {
  position: absolute;
  top: 1042px;
  left: 245px;
  width: 610px;
  height: 60px;
  font-size: var(--font-size-smi);
  color: #a5a5a5;
}
.desktop-7 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1329px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.namee{
  z-index: 3;
  width: 800px;
  margin-top: 700px;
  height: 80px;
  margin-left: 240px;
  display: flex;
}
.namee-img{
  width: 80px;
  height: 80px;
  border-radius: 10px;
}